[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pyqt5 = "*"
pyqtwebengine = "*"
selenium = "*"
opencv-python = "*"
pillow = "*"
python-dotenv = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
