{% extends "base.html" %} {% block video %}
<div class="wrapper">
    <div class="box">
        <img id="topLanding" src="{{ url_for('topLandingImage') }}" />
    </div>
    <div class="box">
        <img id="vid1" src="{{ url_for('videoFeed1') }}" />
    </div>
    <div class="box">
        <img id="vid2" src="{{ url_for('videoFeed2') }}" />
    </div>
    <div class="box">
        <img id="vid3" src="{{ url_for('videoFeed3') }}" />
    </div>
    <div class="box">
        <img id="bottomLanding" src="{{ url_for('bottomLandingImage') }}" />
    </div>
    <div class="box">
        <img id="vid4" src="{{ url_for('videoFeed4') }}" />
    </div>
    <div class="box">
        <img id="vid5" src="{{ url_for('videoFeed5') }}" />
    </div>
    <div class="box">
        <img id="vid6" src="{{ url_for('videoFeed6') }}" />
    </div>

</div>

{% endblock %}
